[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
authlib = "*"
bootstrap-flask = "*"
flask = "*"
requests = "*"
libgravatar = "*"

[dev-packages]

[requires]
python_version = "3.10"
