<footer class="footer mt-auto py-5 navbar navbar-expand navbar-dark bg-dark">
        <div id="primary-menu" class="navbar-nav container d-flex justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" target="_blank" href="https://github.com/esspresso-reports/"><i class="bi bi-github"></i> Source Code</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-body-text"></i> Impressum</a>
                </li>
            </ul>
        </div>
    </div>
</footer>